
/* Till större skärmar */ 
@media all and (min-width: 40em) {
    
    .projects 
    {
      /* Gör att dom lägger sig brevid varandra */
      display: flex;
    }  

    .button 
    {
      background-color: white;
      color: #ff726c; 
      padding: 20px;
      border-radius: 40px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 550;
    }

    footer {
      background-color: #fbcfcd; 
      padding: 100px 300px;
      text-align: center;
    }     
}


/* Till mindre skärmar */ 
@media all and (max-width: 40em) {
    
.button 
{
  background-color: none;
  color: #ff726c; 
  padding: 2px;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  font-weight: 550;
}

/* footern */
footer 
{
  background-color: #fbcfcd; 
  padding: 80px 170px;
  text-align: left;

}

}

/* För mindre skärmar + större det som ej ändras. */

body 
{
  box-sizing: border-box;
  font-family: Helvetica, "sans serif";
  color: #ff726c; 
  margin: 0;
}

/* rubriker och texter */

h1 
{
  margin: 20px;
  font-size: 65px;
}

h2 
{
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 50px;
}

h3 
{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

p 
{
  font-size: 17px;
  font-weight: 200;
  color: black;
}


/*  about-me sektionen */
.about-me 
{
  background-image: url("background_flower.jpg");
  padding: 100px 30px;
  color: white;
  text-align: center;
}

/* bilden som ligger i about-me sektionen */
.about-me img
{
  width: 190px;
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
}


/* Hgreatness sektionen */
.greatness 
{
  padding: 5px; 
  width: 90%; 
  margin: 0 auto;
}

.projects_headline 
{
  text-align: center;
  background-color: #ff726c;
  padding: 20px;
  margin: 5px;
  color: white;
}


.links_webbsites
{
  background-color: lightgray;
  padding: 20px;
  margin: 5px;
  text-align: left;
  white-space: nowrap;
}

.links_webbsites a 
{
font-size: 15px;
color: midnightblue;
font-weight: bold;
text-decoration: none;
}

.links_webbsites a:hover
{
  color: grey;
}


/* Södertörns högskola */
.sodertorn 
{
  background-color: lightgray;
  padding: 20px;
  margin: 5px;
  text-align: left;
}

/* STI */
.STI 
{
  background-color: lightgray;
  padding: 20px;
  margin: 5px;
  text-align: left;
}

/* Hobby Projekt */
.hobby 
{
  background-color: lightgray;
  padding: 20px;
  margin: 5px;
  text-align: left;
}
