


* { padding: 0; margin: 0; }

body {
    
    display: flex;

}

                    /* ----   ------ Grind container 1 ------ -----  */


/* ------------ ruta1 div */
.one { 
    grid-area: box1;  
    padding: 0.5em; 
    background-color: rgb(0, 0, 0); 
    border-bottom: 1.5px solid #C71585; 
    text-indent: 2em; }

.one > a {
    color: #cceeff;
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    padding-right: 0.5em;}

.one > a:hover {
    color: white;}


/* ------------ ruta2 div */
.two { 
    grid-area: box2;  
    background-color: rgb(240, 240, 240);  
    background-image: url(plumage-176723_1920.jpg);
    background-position: left;
    padding-left: 0em;
    padding-right: 0em; 
    padding-bottom: 4em;
    padding-top: 4em; }

/* ------------ ruta3 div */
.three { grid-area: box3;  
    padding: 1.5em; 
    background-color: #222328;
    color: whitesmoke;
    border-bottom: 4px solid #778899;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;}


/* ------------ ruta4 div */
.four { 
    grid-area: box4;  
    padding: 2em; 
    background-color: rgb(240, 240, 240); }

.four > h2 {
    font-family: 'Roboto Slab', sans-serif;
}

/* ------------ grid 1 div */

.grid-container {
    display: grid;
    grid-template-areas: 
        'box1 box1 box1 box1 box1'
        'box2 box2 box2 box2 box2' 
        'box3 box3 box3 box3 box3'
        'box4 box4 box4 box4 box4'; 
    
/* grid-gap, mellanrum mellan boxarna Upp/ned. */ 
    grid-gap: 0em;
   
/* grid-column-gap, mellanrum mellan boxarna sidleds. */ 
    grid-column-gap: 0.5em; 
    
}

  /* Detta sker innanför alla boxarna */
    .grid-container > div {       
}



                    /* ----   ------ Grind container 2 (ruta4) ------ -----  */

/* ------------ SL div */

.slinfo { 
    
    grid-area: slinfo;
    padding: 2em;
    background-color: #e6e6e6;
    border-top: 20px solid #8c8c8c;
    }

.buss {  
font-size: 18px;
margin-left: 5em; }

.bussTid{
    font-size: 18px;
    float:left;}

.tidTabell {
    float:right; }


/* ------------ Krisinfo div */
.kris { 
    grid-area: kris; 
    padding: 2em;
    background-color: white;
    border-top: 20px solid #48D1CC;
  
    }


.area{
    float:right;
    text-align: right;
    font-size: 20px;
    margin-right: 3em; }


/* ------------ Bild 1 div */
.picture { 
    grid-area: picture; 
    padding: 2em;
    background-color: white;
    border-top: 20px solid #f5a3d7;
    border-bottom: 20px solid #f5a3d7;
    color:black;
    text-align: center;
}


/* ------------ bild 2 div */
.picture2 { grid-area: picture2; 
    padding: 2em;
    background-color: white;
    border-top: 20px solid #48D1CC;
    border-bottom: 20px solid #48D1CC;
    color:black;
    text-align: center;}


/* ------------ Tid och namnsdag div */
.time { 
    grid-area: time; 
    text-align: center; }

.timeNow {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px; 
    text-align: center;
    color:whitesmoke;
    float:inherit; }

.dag {
    font-size: 20px;
    float: right;
    margin-right: 3em; }


.namn {
    font-size: 20px;
    float: left;
    margin-left: 3em; }


/* ------------ väder div */

.weather { 
    grid-area: weather; 
    padding: 2em;
    background-color: white;
    border-top: 20px solid #f5a3d7;
    text-align: center; }

.weather > h2{
    text-align: left; }

.infoW {
    padding: 20px;
    text-align: left;
    border-left: 5px solid #48D1CC;
    font-size: 17px; }


/* ------------ jOKES DIV div */

.jokes { 
    grid-area: jokes; 
    color:black;
    padding: 2em;
    background-color: white;
    border-top: 20px solid #48D1CC;
    text-align: left;
}



/* ------------ INPUT div, HEMMA/HUMÖR */

.inputdata { 
    grid-area: inputdata; 
    text-align: left;
    padding-left: 1em;
}
    

.buttonss {
    padding-left: 20px;
    text-align: left;
    border-left: 5px solid #48D1CC; }


/* till knappar */
.button {
    height:30px;
    width:90px;
    background-color: #3366ff;
    border: none;
    color: white; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;}

.button1 { 
    height:30px;
    width:90px;
    background-color: #3366ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;}

.button:hover, .button1:hover{
    background-color: #0000e6;}


/* ------------  input form DIV div */

.more { 
    grid-area: more; 
    color:black;
    padding: 2em;
    background-color: white;
    border-top: 20px solid #48D1CC;
    text-align: left;
}

.button3 { 
    height:30px;
    width:100px;
    background-color: #3366ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer; }


/* ------------  meddelanden div */

.input2 {
    grid-area: input2; 
    
    
}

.input2 > input{
    
    width: 30em;
    height: 3em;
}

.messages { 
    grid-area: news; 
    color:black;
    padding: 2em;
    background-color: white;
    text-align: left;
}



/* ------------ grids 2 */

.grid-container2 {
    display: grid;
    grid-template-areas: 
        'time time time'
        'kris inputdata weather'
        'kris more weather'
        'kris picture picture2'
        'slinfo picture jokes'
        'slinfo input2 jokes'
        'slinfo news jokes'; 
    
/* grid-gap, mellanrum mellan boxarna Upp/ned. */ 
    grid-gap: 1em;
   
/* grid-column-gap, mellanrum mellan boxarna sidleds. */ 
    grid-column-gap: 1em;    
}

  /* Detta sker innanför alla boxarna */
    .grid-container2 > div {
              
}

.kris, .slinfo {
      
    width: 23em;
}

.inputdata, .more, .picture, .input2, .news {
    
    width: 25em;
}

.weather, .picture2, .jokes {
    
    width: 20em;
}




/* till större skärmar */

@media all and (min-width: 100em)
{
    
   .kris, .slinfo {
      
    width: 35em;
}

.inputdata, .more, .picture, .input2, .news {
    
    width: 36em;
}

.weather, .picture2, .jokes {
    
    width: 30em;
} 
    
    
}





  