
* { padding: 0; margin: 0; }



body {
    
     /*font-family: 'Roboto Slab', sans-serif;*/
}

/* Allt till grids */


/* alla div i index får ett värde, och en position*/

.one { grid-area: box1;  
    padding: 0.5em; 
    background-color: rgb(0, 0, 0); 
    border-bottom: 0.5px solid #99ddff; 
    text-indent: 4em; 
    
    

}

.one > a {
    
    color: #cceeff;
    text-decoration: none; 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    padding-right: 0.5em;
    
}

.one > a:hover {
    color: white;  
}



.bild1 > a > img {
    
width: 2em; 
height: 2em;
    
}


.bild1 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 38%; 
    

    
}

/* text rubrik "Pekish Gaming" header, en länk  */
.text1 > a {
    
font-family: 'Open Sans', serif;
font-weight: 400; 
color: white;
text-decoration: none; 
 
}

.two { grid-area: box2;  

    background-color: rgb(240, 240, 240);  
    background-image: url(fjader.jpg);
    background-position: right;
    font-size: 60px;
    padding-left: 80px;
    padding-right: 100px; 
    padding-bottom: 80px;
    padding-top: 100px; 
    
    
      
    
}

.three { grid-area: box3;  
    padding: 1.5em; 
    background-color: #222328;
    color: whitesmoke;
    border-bottom: 2px solid #99ddff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
   
}



.three > img{
 
        float: left; 
        width: 35px; 
        height: 35px;
        padding-right: 20px; 
    
    
}


.four { grid-area: box4;  
    padding: 2em; 
    background-color: rgb(240, 240, 240); 
    border-top: 2px solid #99ddff;

}


/* utanför, runt om boxarna, själva grid:en, position på boxarna */ 

.grid-container {
    display: grid;
    grid-template-areas: 
        'box1 box1 box1 box1 box1'
        'box2 box2 box2 box2 box2' 
        'box3 box3 box3 box3 box3'
        'box4 box4 box4 box4 box4'; 
    
/* grid-gap, mellanrum mellan boxarna Upp/ned. */ 
    grid-gap: 0em;
   
/* grid-column-gap, mellanrum mellan boxarna sidleds. */ 
    grid-column-gap: 0.5em; 
    
}

  /* Detta sker innanför alla boxarna */
    .grid-container > div {
        
    
        
}


/* GRIDS 2!! */

.ruta1 { grid-area: ruta1;
    padding: 2em;
    background-color: white;
    border-top: 20px solid #cceeff;
    padding-bottom: 20em;
    color: black;
}

.ruta2 { grid-area: ruta2; 
    padding: 2em;
    background-color: white;
    border-top: 20px solid #00001a;
    padding-bottom: 20em;
    color: black;
}


.grid-container2 {
    display: grid;
    grid-template-areas: 
        'ruta1 ruta2'
        'ruta1 ruta2'; 
    
/* grid-gap, mellanrum mellan boxarna Upp/ned. */ 
    grid-gap: 2em;
   
/* grid-column-gap, mellanrum mellan boxarna sidleds. */ 
    grid-column-gap: 2em; 
    
}

  /* Detta sker innanför alla boxarna */
    .grid-container2 > div {
        
    
        
}
